* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: hidden; */
  

  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper2 {
    height: 80%;
    width: 100%;
  }
  
  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  
  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .swiper-slide img {
    width: 100% !important;
    height: 100%;
  }

  @media (max-width: 1200px) {
    .swiper-slide {
      margin-right: 0px !important;
      min-width: 95px;
      width: 100%;
    }

    .mySwiper2 {
      height: 250px !important;
      width: 100% !important;
    }

    .swiper-wrapper {
      /* gap: 10px; */
      justify-content: space-between;
      height: auto;
      display: flex;
    }
  }

  @media (max-width: 500px) {
    .mySwiper .swiper-wrapper {
      display: flex !important;
      width: 100% !important;
      /* background-color: red !important; */
      overflow-y: auto;
      height: scroll !important;
    }


  .mySwiper  .swiper-slide {
      height: 90px !important;
      gap: 10px !important;
      margin-right: 10px !important;
    }
  }

  


}

